body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF9671;
    box-sizing: border-box;
}

#myBtn {
    position: relative;
    left: 42%;
    top: 55%;
    width: 170px;
    height: 80px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #ddb7b2;
    font-size: 22px;
    color: #2F4858;
    margin: auto;
    padding: auto;
}

 #myBtn:hover{
    background-color: #dc143c; 
} 

#displayQuote {
    position: absolute;
    font-size: 40px;
    left: 52.5%;
    top: 40%;
    color:#283a46;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}